<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>{{Title}}</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    {{{StyleSheetLinkTags}}}
</head>
<body>
{{{PageContent}}}

{{{ScriptTags}}}
</body>
</html>