[submodule "common"]
	path = common
	url = https://github.com/BryanApellanes/BamCommon.git
[submodule "submodules/bam.core"]
	path = submodules/bam.core
	url = https://github.com/BryanApellanes/Bam.Core.git
